@model DatabaseFirstNETFramework.Models.Oyuncu

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Oyuncu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yasi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yasi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SozlesmeSuresi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SozlesmeSuresi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mevki1.MevkiAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mevki1.MevkiAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Takim.TakimAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Takim.TakimAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ulke1.UlkeAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ulke1.UlkeAdi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
